<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <style media="screen">
      form {
        display: flex;
        flex-direction: column;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <form class="" action="/auth/login" method="post">
      <input type="text" name="username" placeholder="username..." value="">
      <input type="password" name="password" placeholder="password..." value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
