<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>public</title>
  </head>
  <body>
    <div class="container">
      <span>fail to login</span>
      <a href="/auth/login">login</a>
      <a href="/register">new account</a>
    </div>
  </body>
</html>
